<ul class="pager">
   {% if pager.isFirstPage == false %}    
        <li class="first"><a href="{{ paginate_path(route, pager.getFirstPage, parameters) }}">
                <img src="{{ asset('images/pager-first.png') }}" />
            </a>
        </li>
        <li class="previous"><a href="{{ paginate_path(route, pager.getPreviousPage, parameters) }}">
                <img src="{{ asset('images/pager-prev.png') }}" />
            </a>
        </li>
   {% endif %}
   {% for page in pager.getPages %}
      {% if page == pager.getPage %}
        <li class="selected">
            <b>{{ page }}</b>
        </li>
      {% else %}
        {% if (pager.getPages|length > block_length) %}
            {% if page < pager.getPage %}
                {% if pager.getPage - page <= block_length %}                    
                    <li>
                        <a href="{{ paginate_path(route, page, parameters) }}">{{ page }}</a>
                    </li>
                {% else %}
                    {% if loop.first %}
                        <li>...</li>
                    {% endif %}
                {% endif %}
            {% else %}
                {% if page - pager.getPage <= block_length %}
                    <li>
                        <a href="{{ paginate_path(route, page, parameters) }}">{{ page }}</a>
                    </li>  
                {% else %}
                    {% if loop.last %}
                        <li>...</li>
                    {% endif %}
                {% endif %}                    
            {% endif %}               
        {% else %}
            <li>
                <a href="{{ paginate_path(route, page, parameters) }}">{{ page }}</a>
            </li> 
        {% endif %}
      {% endif %}
   {% endfor %}  
   {% if pager.isLastPage == false %}
        <li class="next"><a href="{{ paginate_path(route, pager.getNextPage, parameters) }}">
                <img src="{{ asset('images/pager-next.png') }}" />
            </a>
        </li>
        <li class="last"><a href="{{ paginate_path(route, pager.getLastPage, parameters) }}">
                <img src="{{ asset('images/pager-last.png') }}" />
            </a>
        </li>
   {% endif %}
</ul>